:root {
  --darkGrey: rgb(25, 25, 25);
	--rootBackground: rgb(255,255,255);
  --mantis: #6cc644; 
  --rootFontFamily: "Roboto", Helvetica, Arial, sans-serif;
}

body {
	background-color: var(--rootBackground);
}

body,
button,
input {
  font-family: var(--rootFontFamily);
  margin: 0;
}

.upper-section {
  position: relative;
  height: 100vh; /* * Adjusted to take the full viewport height */
  overflow: hidden; 
}

@keyframes show-content {
  50% {
    top: 5%;
    right: 5%;
    left: 15%;
    bottom: 15%;
  }
  
	100% {
    top: 8%;
    right: 8%;
    left: 12%;
    bottom: 12%;
  }
}

@keyframes show-backdrop {
  50% {
    top: 15%;
    right: 15%;
    left: 5%;
    bottom: 5%;
  }
  
	100% {
    top: 12%;
    right: 12%;
    left: 8%;
    bottom: 8%;
  }
}

.content {
  background-color: var(--darkGrey);
  z-index: 2;
  color: white;
  display: grid;
  grid-template-columns: 1fr 20%;
  column-gap: 2%; 
  font-size: 150%;
	animation: show-content 0.7s ease-out 0.7s forwards;
}

.content div {
  padding: 10%;
}

.content,
.backdrop {
	top: 10%;
  right: 10%;
  left: 10%;
  bottom: 10%;
	position: absolute;
	border-radius: 1%;
}

.backdrop {
  background-color: var(--mantis);
  z-index: 1;
	animation: show-backdrop 0.7s ease-out 0.7s forwards;
}

.profile-pic {
  max-width: 100%; 
  min-width: 20%;
  padding-right: 1%;
}

.profile-pic-container{
  position: relative;
}

.profile-pic-backdrop{
  position: absolute;
  top: -3%;
  right: -19%;
  background-color: white;
  display: grid;
  border-bottom-left-radius: 10%;
}

@media (max-width:370px) {
  .upper-section-text {
    font-size: 70%
  }
  .content{
    column-gap: 0.1%;
  }
}
